<section class="container-fluid">
	<div class="row">
		<div class="title">
			<h1>Produto <a class="btn btn-default btn-green" ng-click="productEdit = true"><span class="glyphicon glyphicon-pencil"></span></a></h1>
		</div>
		<div ng-hide="productEdit" class="details">
			<h2>{{product.name}}</h2>
			<p><strong>Valor/Unidade:</strong> {{product.value | currency:"R$"}} / {{product.type}}</p>
			<p><strong>Quantidade:</strong> {{product.amount}}</p>		
			<p><strong>Descrição:</strong> {{product.description}}</p>
		</div>
		<div ng-show="productEdit" class="edit">
			<form ng-submit="save(product)">
				<div class="form-group">
		            <label for="name" class="control-label">Nome:</label>
		            <input type="text" ng-model="product.name" class="form-control" id="name" required placeholder="Digite o nome do produto">
		        </div>

		        <div class="form-group">
		            <label for="value" class="control-label">Valor:</label>
		            <input type="number" ng-model="product.value" step="any" class="form-control" id="value" required placeholder="Digite o valor do produto">
		        </div>

		        <div class="form-group">
		            <label for="type" class="control-label">Unidade:</label>
		            <select id="type" ng-model="product.type" class="form-control">
		            	<option value="Unidade" ng-selected="product.type == 'Unidade'">Unidade</option>
		            	<option value="Caixa" ng-selected="product.type == 'Caixa'">Caixa</option>
		            	<option value="Peca" ng-selected="product.type == 'Peca'">Peça</option>
		            </select>
		        </div>

		        <div class="form-group">
		            <label for="amount" class="control-label">Quantidade:</label>
		            <input type="number" ng-model="product.amount" class="form-control" id="amount" required placeholder="Digite a quatidade do produto">
		        </div>

		        <div class="form-group">
		            <label for="description" class="control-label">Descrição:</label>
		            <input type="text" ng-model="product.description" class="form-control" id="description" required placeholder="Digite a descrição do produto">
		        </div>

		        <div class="form-group">
		            <input type="submit" class="btn btn-default btn-success btn-lg" id="description">
		        </div>
			</form>
		</div>
	</div>
</section>
